---
import ExperienceItem from "./icons/ExperienceItem.astro";

const EXPERIENCE =  [
     
    {
        date: "Actualmente",
        title: "Becario NTTDATA",
        description: "Desarrollador de Moodle y LimeSurvey.",
        link:"#"
    },
    {
        date: "Actualmente",
        title: "Becario NTTDATA",
        description: "Desarrollador de Moodle y LimeSurvey.",
        link:"#"
    },
    
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">   
    {
        EXPERIENCE.map(experience=>(
            <li class="mb-10 ms-4">
                <ExperienceItem {... experience} />
            </li>
        ))
    }               
    
</ol>

